.list {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 22px 0 25px 0;
  margin: 32px 0;
  background-color: #ffffff;
  box-shadow: var(--shadow-mob);
  border-radius: 30px;
}
.item {
  position: relative;
}
.item:not(:last-child) {
  position: relative;
  margin-right: 25px;
}

.total {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.expense {
  composes: total;
  color: var(--expense-color);
}

.income {
  composes: total;
  color: var(--income-color);
}
.text {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--second-color);
  margin-bottom: 3px;
}
.textLoading {
  composes: text;
  margin-bottom: 22px;
}
.spinner {
  position: absolute;
  left: -25px;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:last-child::before {
  content: '';
  position: absolute;
  width: 0.75px;
  background-color: #e0e5eb;
  left: -10px;
  top: -14px;
  transform: translate(-50%);
  height: 70px;
}

@media screen and (min-width: 768px) {
  .list {
    padding: 17px 0;
  }
  .item {
    display: flex;
    align-items: center;
  }
  .item:not(:last-child) {
    margin-right: 40px;
  }
  .item:last-child::before {
    top: -9px;
    left: -20px;
    transform: translate(-50%);
    height: 36px;
  }
  .text {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .textLoading {
    text-align: left;
    width: 175px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .spinner {
    top: -9px;
    left: 65px;
  }
}
