.backgraund {
  background-color: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 280px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
}
.form {
  display: flex;
  flex-direction: column;
}
.button {
  width: 300px;
}
.text {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--second-color);
}

.label {
  display: flex;
  flex-direction: column;
}
.label_text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  margin-bottom: 12px;
  margin-top: 20px;
}
.input {
  width: 240px;
  height: 52px;
  border: none;
  border-radius: 30px;
  background-color: var(--bg-color);
  padding-left: 18px;
  outline-color: var(--third-color);
  color: var(--third-color);
}
.wrapper_button {
  display: flex;
  margin-top: 40px;
}
.button {
  width: 116px;
  height: 44px;
  border: none;
  border-radius: 16px;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.button:not(:last-child) {
  margin-right: 8px;
}
.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 1px solid var(--accent-color);
}

.error {
  margin-top: 5px;
  text-align: center;
  max-width: 240px;
  color: red;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
}

.error_span {
  color: red;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .backgraund {
    min-width: 426px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 261px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .input {
    width: 260px;
  }
  .button {
    width: 122px;
  }
  .text {
    max-width: 248px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .backgraund {
    top: 117px;
    right: 91px;
    left: none;
    transform: none;
  }
}
.auth_button {
  background-color: var(--bg-color);
  border-radius: 26px;
  border: none;
  width: 122px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 32px;
}
.auth_button:hover,
.auth_button:focus {
  border: 1px solid var(--accent-color);
}
.googleIcon {
  width: 18px;
  margin-right: 10px;
}
.span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
