.wrapper_nav {
  display: flex;
  justify-content: center;
}
.link {
  padding: 20px 80px;
  background-color: #f5f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 138px;
  height: 40px;
  color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .link {
    border-radius: 15px 15px 0 0;
  }
}

.link:hover,
.link:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}

.activeLink {
  composes: link;
  background-color: #ffffff;
}

/* .summ__link{
  composes: link;
} */
@media screen and (max-width: 768px) {
  .summ__link {
    display: none;
  }
}
