.container {
  color: var(--second-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
}
.balance {
  font-weight: 500;
}
.wrap {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 8px;
  /* background-color: #f5f6fb; */
}
.input {
  width: 116px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.17;
  border: none;
  outline: none;
  padding-left: 30px;
  /* background-color: transparent; */
}
.input::placeholder {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.17;
  border: none;
  color: black;
}
.spinner {
  position: absolute;
  top: 0;
  left: 10px;
  height: 10px;
}
.confirmBtn {
  width: 142px;
}
.amount {
  min-width: 142px;
}
.confirmBtn:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

.confirmBtn:disabled:hover {
  color: var(--second-color);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .wrap {
    margin-top: 0;
  }
}
.input {
  background-color: transparent;
  outline: none;
  padding: 0;
  text-align: center;
}
.amount {
  color: var(--main-color);
  font-weight: 700;
  padding: 12px 17px;
  border: 2px solid #ffffff;
  border-right: none;
  border-radius: 22px 0px 0px 22px;
  /* background-color: #1d346a; */
}
.confirmBtn {
  color: var(--second-color);
  padding: 12px 17px;
  border: 2px solid #ffffff;
  border-radius: 0px 22px 22px 0px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .balance {
    padding-left: 40px;
    padding-right: 21px;
  }
  .amount {
    border-radius: 16px;
    margin-right: 15px;
  }
  .confirmBtn {
    border-radius: 16px;
  }
}
