@media screen and (max-width: 767px) {
  .summary {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .summary {
    width: 230px;
  }
  .month {
    display: flex;
    justify-content: space-between;

    padding: 10px 25px;
    margin-top: 2px;
    background-color: #f5f6fb;
  }

  .month:last-child {
    border-radius: 0 0 35px 0;
  }

  .title {
    margin-bottom: 0;
    padding: 10px 25px;

    border-radius: 35px 35px 0 0;

    background-color: #f5f6fb;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.266;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .text {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.266;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #52555f;
  }

  .buttonWrapper {
    margin-bottom: 5px;
  }

  .button {
    width: 50%;
    padding: 5px 0;

    background-color: #f5f6fb;
    border: none;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.266;
    letter-spacing: 0.02em;

    cursor: pointer;
    transition: background-color 150ms linear 0ms, color 150ms linear 0ms;
  }

  .button:hover {
    background-color: #ff751d;
    color: white;
  }

  .activeBtn {
    background-color: #ff751d;
    color: white;
  }
}

@media screen and (min-width: 1280px) {
  .summary {
    width: 213px;
    position: absolute;
    top: 136px;
    right: 32px;
  }
}
.note {
  text-align: center;
}
