.list {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
}

.item {
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item:not(:last-child) {
  margin-right: 5px;
}
.title {
  text-align: center;
  color: var(--second-color);
}
.info {
  text-align: center;
  max-width: 103px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin: 0;
  color: var(--second-color);
}

.link {
  color: var(--icons-color);
}
.iconBackground {
  fill: #f5f6fb;
  margin-top: 12px;
}
.icon {
  fill: var(--icons-color);
  position: absolute;
  top: 5px;
  left: 0;
}
.link:hover .icon {
  fill: var(--accent-color);
}
.link:hover .iconBackground {
  fill: var(--second-accent-color);
}
.activeLink .icon {
  fill: var(--accent-color);
}
.activeLink .iconBackground {
  fill: var(--second-accent-color);
}
.spinner {
  margin-top: 18px;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .link {
    position: relative;
  }
  .activeLink {
    position: relative;
  }
  .item {
    padding-bottom: 20px;
  }
  .list {
    border-bottom: 1px solid #e0e5eb;
  }
}
@media screen and (min-width: 768px) {
  .list {
    width: 623px;
  }
  .item {
    position: relative;
    width: calc((100% - 30px) / 6);
  }
  .icon {
    top: 21px;
    left: 22px;
  }
}
